@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model List<Employee>


@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Employees</h1>
    </div>
</div>

@if (signInManager.IsSignedIn(User))
{
    <div class="container py-5">

        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>National Id</th>
                        <th>Employee ID</th>
                        <th>Age</th>
                        <th>Account</th>
                        <th>Line Of Businesse</th>
                        <th>Language</th>
                        <th>Language Level</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>@emp.Name</td>
                            <td>@emp.NationalId</td>
                            <td>@emp.IDEmployee</td>
                            <td>@emp.Age</td>
                            <td>@emp.Account</td>
                            <td>@emp.LineOfBusiness</td>
                            <td>@emp.Language</td>
                            <td>@emp.LanguageLevel</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        else
        {
            <p>No Employees Found!</p>
        }


    </div>
}
else
{
    <h1 style="color:red ;font-size:50px ;text-align: center;">You must be login to see data</h1>
}

