@model List<Employee>


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Employees</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>National Id</th>
                    <th>Employee ID</th>
                    <th>Age</th>
                    <th>Account</th>
                    <th>Line Of Businesse</th>
                    <th>Language</th>
                    <th>Language Level</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.Name</td>
                        <td>@emp.NationalId</td>
                        <td>@emp.IDEmployee</td>
                        <td>@emp.Age</td>
                        <td>@emp.Account</td>
                        <td>@emp.LineOfBusiness</td>
                        <td>@emp.Language</td>
                        <td>@emp.LanguageLevel</td>
                        <td>
                            <a asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@emp.EmployeeId" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Employees Found!</p>
    }
</div>
